@model Sprint.MVC.Models.TrainerReview.TrainerReviewViewModel

<h4>Trainer review</h4>
<table class="table table-striped">
    <tbody>
    <tr>
        <td>Rating</td>
        <td>@Model.Review.Rating</td>
    </tr>
    
    <tr>
        <td>Text review</td>
        <td>@Model.Review.Text</td>
    </tr>
    </tbody>
</table>