@model Sprint.MVC.Models.Court.CourtIndexViewModel

<h3>Courts</h3>

<a class="btn btn-primary" href="@Url.Action("Create")">Create new court</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:70%">Court number</th>
            <th style="width:70%">Hourly rate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var court in Model.Courts)
        {
            <tr>
                <td>@court.CourtNumber</td>
                <td>@court.HourlyRate</td>
                <td>
                    @using (Html.BeginForm("Delete", "Court", new { id = court.Id }, FormMethod.Post, true, new { @class = "form-inline" }))
                    {
                        <a class="btn btn-secondary my-1" href="@Url.Action("Edit", new { id = court.Id })">Edit</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>